body {
  margin: 0;
  padding: 0;
	color: #313131;
  font-family: sans-serif;
}

a {text-decoration: none;}

.text-left {text-align: left;}
.text-center {text-center: center;}
.text-right {text-right: right;}
.text-justify {text-align: justify;}
.text-normal {font-style: normal;}
.text-italic {font-style: italic;}
.text-strong {font-weight: bold;}
