.slider {
  position: absolute;
	top: 0;
	left: -80%;
	z-index: 2;
	background: lightgreen;
	width: 80%;
	height: 100vh;
	transition: left .3s;
}

.slider-menu {
  width: 100%;
	height: 40px;
	line-height: 40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.slider-menu i {
  display: inline-block;
	width: 25px;
	height: 25px;
	background: url("./images/close.svg") no-repeat center center;
	background-size: 100%;
	margin-left: 8px;
}

.slider-menu span {margin-left: 8px;}
